@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles for index page */
.index-page{
    background-image: url('../img/bg.jpg'); /* Set your background image */
    background-size: cover; /* Cover the entire body with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fixed background */
}

/* Styles for help and 404 page */

.help-page{
    background-color: #0d2479;
}

header {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #0d2479;
    color: #fff;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid #f2db83;
  }

  footer {
    width: 100%;
    background-color:#0d2479;
    font-size: 14px;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #f2db83;
    flex-grow: 0;
}

header, footer, #quizWrapper {
    flex-shrink: 0;  
}
